@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.pizzaghost{
    font-family: "Jost", sans-serif;
    background-color: white;
    color: black;
}

.pizzaghost-content {
    display: flex;
    flex-direction: row;
}

.pizzaghost-main {
    background-color: rgb(34, 31, 34);
    width: 80%;
}

/*Section header elements*/
.pizzaghost-header {
    height: 300px;
    background-color: rgb(194, 15, 15);
    color: goldenrod;
}

.pizzaghost-header h1 {
    font-size: 60px;
}

.pizzaghost-input-search{
    width: 50%;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.pizzaghost-search-button {
    width: 7%;
    font-size: 14px;
    padding: 14px;
    border-radius: 10px;
    border: none;
}

/*Section menu navigator*/

.pizzaghost-menu-navigator {
    width: 20%;
    height: 50%;
    position: static;
}

/*Elemenst the best section*/
.pizzaghost-li-thebest-img {
    align-self: center;
    width: 300px;
    height: 200px;
}

.pizzaghost-ul-thebest {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pizzaghost-li-thebest {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

/*MARKETING ELEMENTS SECTION*/
.pizzaghost-marketing-img {
    width: 80%;
    height: 40rem;
}

.pizzaghost-maketing {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pizzaghost-marketing-button {
    width: 50px;
    height: 50px;
}

/*Elemnts all plates section*/
.pizzaghost-all-section {
    display: flex;
    flex-direction: column;
}

.pizzaghost-ul-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.pizzaghost-li-all {
    width: 30%;
    height: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.pizzaghost-li-all-img {
    align-self: center;
    width: 300px ;
    height: 200px;
}





