@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.pizzaghost{
    font-family: "Jost", sans-serif;
    background-color: white;
    color: black;
}

.pizzaghost-content {
    display: flex;
    flex-direction: row;
}

.pizzaghost-main {
    width: 80%;
}

/*Section header elements*/
.pizzaghost-header {
    height: 300px;
    color: goldenrod;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pizzaghost-search {
    width: 80%;
}

.pizzaghost-section-logo {
   height: 300px;
   padding: 20px;
}

.pizzaghost-logo{
    height: 80px;
}

.pizzaghost-header h1 {
    font-size: 60px;
}

.pizzaghost-input-search{
    width: 50%;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.pizzaghost-search-button {
    width: 7%;
    font-size: 14px;
    padding: 14px;
    border-radius: 10px;
    border: none;
}

/*Section menu navigator*/

.pizzaghost-menu-navigator {
    width: 20%;
    height: 50%;
    position: static;
}

/*Elemenst the best section*/
.pizzaghost-li-thebest-img {
    align-self: center;
    width: 12vw;
    height: 25vh;
}

.pizzaghost-ul-thebest {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pizzaghost-li-thebest {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 12vw;
    height: 50vh;
    border: 3px solid rgb(182, 9, 9);

}

/*MARKETING ELEMENTS SECTION*/
.pizzaghost-marketing-img {
    width: 80%;
    height: 40rem;
}

.pizzaghost-maketing {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pizzaghost-marketing-button {
    width: 50px;
    height: 50px;
}

/*Elemnts all plates section*/
.pizzaghost-all-section {
    display: flex;
    flex-direction: column;
}

.pizzaghost-ul-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.pizzaghost-li-all {
    width: 80%;
    height: 30%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(182, 9, 9);
    padding: 10px;
}

.pizzaghost-li-theroy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pizzaghost-li-all-img {
    align-self: center;
    width: 300px ;
    height: 200px;
}

.menu-icon-img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.menu-navigatore-header {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pizzaghost-ul-service{
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-around;
    align-items: baseline;
    font-size: 25px;
    cursor: pointer;
}

.pizzaghost-li-service:hover {
    font-weight: 700;
    transition: 0.5s;
}





